#left {
 
  background-color: blueviolet;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;

}

code {
  font-family: 'Lato', sans-serif;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.w720{
  max-width: 720px;
  margin: auto;
}